.list-group {
    border: 0 !important;
}

.cardd {
    text-align: center;
    border-radius: 10px;
}

.image {
    margin: auto !important;
    padding: 2rem !important;
    width: 12rem !important;
    height: 12rem !important;
    margin-top: -3rem !important;
}

.cardtitle {
    color: #fff;
}

.listext {
    text-align: center !important;
    padding: 2.5rem;
}

.itlist {
    list-style-type: none;
    color: white;
}

h5,
li {
    text-transform: capitalize;
}

.purple {
    background-color: #8c41c9;
}

.bg-primary {
    background-color: #0d6efd;
}

/* Secondary (secundario) */
.bg-secondary {
    background-color: #6c757d;
}

/* Success (éxito) */
.bg-success {
    background-color: #198754;
}

/* Danger (peligro) */
.bg-danger {
    background-color: #dc3545;
}

/* Warning (advertencia) */
.bg-warning {
    background-color: #ffc107;
}

/* Info (información) */
.bg-info {
    background-color: #0dcaf0;
}