.list-group {
    border: 0 !important;
}
.image {
    width: 12rem !important;
    height: 12rem !important;
    margin-top: -3rem !important;
}
h5, li {
    text-transform: capitalize;
}
.purple {
    background-color: #8c41c9;
}