.btnShow {
  border: thin solid #6c757d !important;
}

.roww {

  width: 30%;
  margin: auto;
}

.btnShow:hover {
  background-color: #6c757d !important;
  color: white !important;
}

.cardd {
  padding-bottom: 2rem;
}

.btnSave,
.btnShow {
  width: 100%;
  margin: auto !important;
  margin-top: -2.5rem !important;
  z-index: 1;
  background-color: #198754;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;

}

.btnShow {
  margin-top: 2rem !important;
  background-color: #fff;
  color: black;
}

@media (max-width: 800px) {
  .roww {
    width: 50% !important;
  }
}

@media (max-width: 550px) {
  .roww {
    width: 70% !important;
  }

}

@media (max-width: 450px) {
  .roww {
    width: 90% !important;
  }
}