.btnShow {
  border: thin solid #6c757d !important;
}

.row {
  width: 30%;
  margin: auto;
}

.btnShow:hover {
  background-color: #6c757d !important;
  color: white !important;
}

.card {
  padding-bottom: 4rem;
}

.btnSave {
  margin-top: -2.5rem !important;
  z-index: 1;
}

@media (max-width: 800px) {
  .row {
    width: 50% !important;
  }
}

@media (max-width: 550px) {
  .row {
    width: 70% !important;
  }
  .btnSave {
    width: 70% !important;
  }
}

@media (max-width: 450px) {
  .row {
    width: 90% !important;
  }

  .btnSave {
    margin-top: -2rem !important;
    width: 85% !important;
  }
}