@import 'bootstrap/dist/css/bootstrap.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.page_main__ibFHK {
  padding: 0 !important;
  justify-content: normal !important;
}