.list-group {
    border: 0 !important;
}

.image {
    width: 10rem !important;
    margin-top: -2rem !important;
}

.txt {
    width: 100%;
    text-align: center;
}

h5,
li {
    text-transform: capitalize;
}

.card {
    width: 80% !important;
    display: inline-block;
    margin: 24px !important;
    padding-bottom: 2rem;
}

.btnRemove {
    width: 70%;
    margin: auto !important;
    margin-top: -2rem !important;
    z-index: 1;
    background-color: #dc3545;
    color: white;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 1;
}

.cardcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 3rem !important;
}

.box {
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .box {
        width: 60% !important;
    }
}

@media (max-width: 500px) {
    .box {
        width: 80% !important;
    }
}


@media (max-width: 400px) {
    .box {
        width: 95% !important;
    }
}